* {
  font-family: "Jetbrains Mono NerdFont";
}

#waybar {
  /* background: #171717; */
  background: #0a0a0a;
  color: #fff;
}

#clock {
  color: #fff;
}

#tray {
  padding-left: 4px;
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button {
  color: #2e2e2e;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0px;
}

#workspaces button:hover {
  background-color: #262626;
}

#workspaces button.active {
  color: #bd68ee;
}

#window {
  color: #fff;
}

#network {
  color: #3b82f6;
  margin-right: 8px;
}

#pulseaudio {
  color: #14b8a6;
  margin-right: 4px;
}

#cpu {
  color: #0ea5e9;
  margin-right: 4px;
}

#temperature {
  color: #eab308;
  margin-right: 4px;
}

#temperature.critical {
  background-color: #e42022;
}

#memory {
  color: #d946ef;
  margin-right: 4px;
}

#custom-powermenu {
  color: #f43f5e;
  margin-right: 4px;
}
